@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  #scroll {
    scrollbar-width: thin;
    scrollbar-color: #1d1d1da9 #dbdbdb;
  }

  /* Chrome, Edge, and Safari */
  #scroll::-webkit-scrollbar {
    width: 11px;
  }

  #scroll::-webkit-scrollbar-track {
    background: #fafafa;
  }

  #scroll::-webkit-scrollbar-thumb {
    background-color: #1d1d1da9;
    border-radius: 25px;
    border: 2px solid #dbdbdb;
  }


body {
  font-family: "Roboto", sans-serif;
}


.gradient-btn {
  background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
  border: none;
  color: #fff;
}

.gradient-blue {
  background: linear-gradient(90deg, #4481eb 0%, #04befe 100%);
}

.glass-effect {
  background: rgba(27, 27, 27, 0.363);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.151);
  backdrop-filter: blur(8.7px);
  -webkit-backdrop-filter: blur(8.7px);
}
